<h1> <%= @location.name %> </h1>

<%= render 'single_location', location: @location %>

<%= link_to 'Edit Location', edit_location_path %> | <%= link_to 'Delete Location', locations_path(@location), method: :delete, data: {confirm: "Are you sure you want to delete #{@location.name}"} %> 
